@keyframes blink {
	from {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

body {
	background-image: var(--bg-1-accent-gradient);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	color: var(--fg-1);

	.home-link {
		font-size: 2rem;
		background-color: var(--bg-1);
		padding: .5em 1em;
		border-radius: 8px;
		width: fit-content;
		transition:
			width 100ms ease-out,
			border-radius 250ms ease-out,
			padding-block 250ms ease-out;

		&:hover {
			width: 100%;
			border-radius: 0;
			/* padding-block: 1em; */
		}

		a {
			color: var(--fg-1-accent);
			text-decoration: none;
		}

		.blink {
			font-weight: bold;
			animation: blink 1s step-end infinite;
		}
	}
}

:root {
	--h1-size: 8rem;
}
