:root {
	--accent: hsl(263, 100%, 67%);

	--bg-1-accent: color-mix(in oklch, var(--accent), var(--bg-1));

	--fg-2: color-mix(in oklch, var(--bg-1), var(--fg-1) 75%);
	--fg-3: color-mix(in oklch, var(--bg-1), var(--fg-1) 25%);
	--fg-1-accent: color-mix(in oklch, var(--accent), var(--fg-1))
}

:root[data-theme="dark"] {
	--bg-1: #161616;
	--fg-1: #e6e6e6;
}

:root[data-theme="light"] {
	--bg-1: #efefef;
	--fg-1: #191919;
}
