@property --accent {
	syntax: '<color>';
	initial-value: hsl(243 100% 50%);
	inherits: false;
}

:root[data-theme="dark"] {
	--bg-1: #161616;
	--fg-1: #e6e6e6;
}

:root[data-theme="light"] {
	--bg-1: #efefef;
	--fg-1: #191919;
}

:root {
	--bg-1-accent: color-mix(in oklch, var(--accent), var(--bg-1));
	--bg-1-accent-gradient: linear-gradient(to bottom, var(--bg-1), var(--bg-1-accent) 300%);

	--bg-2-accent: color-mix(in oklch, var(--bg-1-accent), var(--bg-1));

	--fg-1-accent: color-mix(in oklch, var(--accent), var(--fg-1));
	--fg-1-accent-gradient: linear-gradient(to bottom, var(--fg-1), var(--accent) 250%);

	--fg-2: color-mix(in oklch, var(--bg-1), var(--fg-1) 75%);
	--fg-2-accent: color-mix(in oklch, var(--fg-2) 90%, var(--accent));

	--fg-3: color-mix(in oklch, var(--bg-1), var(--fg-1) 25%);
}
