body {
	container-type: inline-size;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5rem;

	background-image: var(--bg-1-accent-gradient);
	transition: --accent 1s ease-out;
	color: var(--fg-1);
}

:root {
	--h1-size: 6rem;

	&[data-theme="dark"] {
		button img {
			filter: invert(1);
		}
	}
}

p {
	line-height: 1.3;
	font-size: 1.1em;
}

.hero {
	min-height: 100vh;
	flex-grow: 1;
	display: grid;
	font-size: large;
	margin-inline: auto;
	padding-inline: 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"a b"
		"c b";
	align-content: center;

	a {
		color: var(--fg-1-accent);
	}

	.hero-heading {
		margin-block-end: 1rem;
		grid-area: a;
	}

	.hero-content {
		grid-area: c;
	}

	.hero-links {
		grid-area: b;
		width: fit-content;
		margin: auto;
		list-style-type: none;
		padding: 0;
	}
}

h2 {
	font-size: 2rem;
	margin-block-end: 1rem;
}

.about-me {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 70vh;

	.about-me-container {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
	}

	.about-me-profile {
		margin-inline: auto;
	}

	.about-me-bio {
		max-width: 75%;
		margin-inline: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1em;

		ul {
			display: flex;
			justify-content: center;
			gap: .5rem;
			list-style-type: none;
			padding: 0;
			flex-wrap: wrap;

			li {
				display: flex;
				align-items: center;
				background-color: var(--bg-2-accent);
				padding: .7rem;
				max-width: 20rem;
			}
		}
	}
}

footer {
	margin-block-end: 1em;
	color: var(--fg-3);

	a {
		color: var(--fg-2-accent);
	}
}

@container (width < 700px) {
	.hero {
		grid-template-columns: 1fr;
		grid-template-areas:
			"a"
			"c"
			"b";
		gap: 3rem;
	}

	.about-me .about-me-container {
		grid-template-columns: 1fr;

		.about-me-bio {
			margin-block-start: 2.5rem;
		}
	}
}
