body {
	container-type: inline-size;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5rem;

	background-image: var(--bg-1-accent-gradient);
	transition: --accent 1s ease-out;
	color: var(--fg-1);
}

:root {
	--h1-size: 4rem;

	&[data-theme="dark"] {
		button img {
			filter: invert(1);
		}
	}
}

main {
	flex-grow: 1;
	display: grid;
	font-size: large;
	margin-inline: auto;
	padding-inline: 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"a b"
		"c b";
	align-content: center;

	a {
		color: var(--fg-1-accent);
	}

	h1 {
		margin-block-end: 1rem;
		color: var(--fg-2);
	}

	>* {
		grid-area: var(--area);
	}

	ul {
		width: fit-content;
		margin: auto;
		list-style-type: none;
		padding: 0;
	}

	button img {
		min-width: 2em;
	}

	button {
		aspect-ratio: 1 / 1;
		margin-inline: auto;

		&.btn-push-anim {
			animation: push 250ms ease-out;
		}
	}

	.btn-container {
		margin-block-start: 1em;
		display: flex;
	}
}

@container (width < 500px) {
	main {
		grid-template-columns: 1fr;
		grid-template-areas:
			"a"
			"c"
			"b";
		gap: 3rem;
	}
}

footer {
	margin-block-end: 1em;
	color: var(--fg-3);

	a {
		color: var(--fg-2-accent);
	}
}
