:is(
	h1,
	h2,
	h3,
	h4,
	h5,
	h6
).emphasis {
	background-image: var(--fg-1-accent-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1 {
	font-size: var(--h1-size);
}

h2 {
	
}
